/Ejercicio1/build/
/Ejercicio1/nbproject/private/
/Ejercicio2/build/
/Ejercicio2/nbproject/private/
/Ejercicio3/build/
/Ejercicio3/nbproject/private/
/Ejercicio3Extras/build/
/Ejercicio3Extras/nbproject/private/
/Ejercicio4/build/
/Ejercicio4/nbproject/private/
/Ejercicio4Extras/build/
/Ejercicio4Extras/nbproject/private/
/Ejercicio5/build/
/Ejercicio5/nbproject/private/
/Ejercicio6/build/
/Ejercicio6/nbproject/private/
/Ejercicio7/build/
/Ejercicio7/nbproject/private/
